{% extends 'restaurant/restaurant_common.html' %}

{% block common %}
    {% load static %}
    {% include 'restaurant/restaurant_menu.html' %}

    <table align="center" width="500">
        <tr>
            <th><h1 style="color:darkcyan">Welcome to Restaurant</h1></th>
        </tr>
        <tr>
            <th><img src="{% static 'images/chef.jpg' %}" alt=""></th>
        </tr>

        {% for message in messages %}
            {% if message %}
                <tr>
                    <th>
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Hello User!</strong> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </th>
                </tr>
            {% endif %}

        {% endfor %}

    </table>




{% endblock %}