{% extends 'restaurant/restaurant_common.html' %}
{% block common %}
    {% include 'restaurant/restaurant_menu.html' %}
    <style>
        th {
            text-align: center;
            height: 45px;
        }
    </style>
    <form action="{% url 'save_restaurant'%}" method="post">
    {% csrf_token %}
    <table align="center" width="500">
        <tr>
            <th style="color: darkblue" colspan="2"><h1>Restaurant Registration </h1></th>
        </tr>
        <tr>
            <th>{{ restaurant_reg_form }}</th>
        </tr>
        <tr>
            <th colspan="2">
                <button type="submit">Register</button>
            </th>
        </tr>
    </table>
    </form>

{% endblock %}